.tab {
    width: 500px;
    height: 300px;
    border: 1px solid #ccc;
    position: absolute;
}
#editor {
    width: 100%;
    height: 100%;
}
/* 位置だけ個別指定 */
#tab_editor {
    left: 20px;
    top: 20px;
}

#tab_asm {
    left: 550px;
    top: 20px;
}
#tab_cpu{
    left: 1080px;
    top: 20px;
}
